language: ruby

before_install:
  # install evm
  - curl -fsSL https://raw.githubusercontent.com/rejeep/evm/master/go | bash
  - export PATH="$HOME/.evm/bin:$PATH"
  - evm config path /tmp

  # install emacs
  - evm install $EVM_EMACS --use --skip

  # install cask
  - curl -fsSL https://raw.githubusercontent.com/cask/cask/master/go | python
  - export PATH="$HOME/.cask/bin:$PATH"

install:
  - cask

before_script:
  - ruby --version
  - rake --version
  - cask --version
  - emacs --version

script:
  - rake $RAKE_COMMAND

env:
  - EVM_EMACS=emacs-24.1-travis RAKE_COMMAND=test_all
  - EVM_EMACS=emacs-24.2-travis RAKE_COMMAND=test_all
  - EVM_EMACS=emacs-24.3-travis RAKE_COMMAND=test_all
  - EVM_EMACS=emacs-24.4-travis RAKE_COMMAND=test_all
  - EVM_EMACS=emacs-24.5-travis RAKE_COMMAND=test_all
  - EVM_EMACS=emacs-24.5-travis RAKE_COMMAND=coverage
